<div class="background-cine-header" fxLayoutGap="30px" fxLayout="column">
  <app-header-cine></app-header-cine>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="sign-in-form" fxLayout="column" fxLayoutAlign="center center">
      <div style="width: 350px" fxLayout="column" fxLayoutGap="20">
        <div class="sign-in-title text-white">SIGN IN</div>
        <form [formGroup]="formGroup" fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>User name</mat-label>
            <input formControlName="userName" class="text-white" matInput>
            <mat-error *ngIf="formGroup.controls['userName'].errors">
              Tên đăng nhập không được để trống
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" class="text-white" matInput>
            <mat-error *ngIf="formGroup.controls['password'].errors">
              Mật khẩu không được để trống
            </mat-error>
          </mat-form-field>
        </form>
        <div class="dialog-action-row">
          <button style="width: 100%" mat-raised-button color="primary" (keyup.enter)="login()" (click)="login()">Sign in</button>
        </div>
        <div class="gray-text">
          <p>New to Cine? <a class="text-white" style="text-decoration: none" href="/sign-up">Sign up now</a></p>
          <p>This page is protected by Google mCaptcha to ensure you're not a bot</p>
        </div>
      </div>
    </div>
  </div>
  <app-footer-cine></app-footer-cine>
</div>

