
.sign-in-form {
  width: 400px;
  background: black;
  opacity: 0.8;
  border-radius: 4px;
}

.sign-in-title {
  font-size: 30px;
  font-weight: 500;
  margin-top: 60px;
}

.gray-text {
  a:hover {
    color: red !important;
  }
}
