
.mat-form-field.mat-form-field {
  width: 100%;
}

.text-homepage {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-cine-homepage {
  color: white;
  max-width: 600px;
  font-size: 62px;
  font-weight: 900;
  line-height: 1.0;
}

.content-homepage {
  padding: 32px 64px;
  margin: 24px 0;
}

.text-cine-content {
  color: white;
  font-size: 48px;
  max-width: 640px;
  font-weight: 900;
  line-height: 1.0;
}

.text-cine-content-description {
  color: white;
  font-size: 24px;
  max-width: 500px;
  font-weight: 400;
  line-height: 1.1;
}

.text-cine-subscript {
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.0;
}

.background-cine {
  background-color: black;
}

