<div fxLayout="column" style="background: #06121E">
  <div fxLayout="column" [style.background-image]="'url(' + urlImage + ')'"
       class="background-film-large"
       fxLayoutGap="200px">
    <app-header-cine></app-header-cine>

    <div fxLayout="column" style="padding: 24px 64px" fxLayoutGap="30px">
      <div fxLayout="row" fxLayoutGap="64px">
        <div fxLayout="column" fxLayoutGap="32px" >
          <img src="../../../../../assets/images/films/a-quiet-place/small2.jpg" height="414.96" width="280" alt="">
          <button mat-raised-button class="button-watch"
                  color="warn" fxLayout="row"
                  fxLayoutAlign="center center"
                  (click)="playVideo()"
          >
            <mat-icon>play_arrow</mat-icon>
            <span class="text-button-watch">
              Watch now
            </span>
          </button>
        </div>
        <div fxLayout="column" fxFlex fxLayoutGap="32px">
          <div fxLayout="column" fxLayoutGap="28px">
            <div fxLayoutGap="10px">
              <span class="text-title-film">
                {{this.formGroup.controls['nameFilm'].value}}
              </span>

              <span class="text-title-film">
              (
                <span class="text-title-film-year">
                  {{this.formGroup.controls['year'].value}}
                </span>
              )
            </span>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
              <div>
                <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&star;</span>&star;
                </span>
                </ng-template>

                <ngb-rating [(rate)]="starRating" [readonly]="true" [starTemplate]="t"  [max]="5"></ngb-rating>
              </div>

              <div class="text-description-info" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
                <mat-icon>remove_red_eye</mat-icon>
                <span>
                  {{this.formGroup.controls['viewCount'].value}}
                </span>
              </div>

            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">

              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
                <button
                  *ngIf="!checkFavorite; else removeFavorite"
                  mat-stroked-button
                  fxLayout="row" fxLayoutAlign="center center"
                  (click)="handleFavourite('add')">
                  <mat-icon>add</mat-icon>
                  <span class="text-button">
                  Add to Favorite
                </span>
                </button>

                <ng-template #removeFavorite>
                  <button
                    mat-stroked-button
                    fxLayout="row" fxLayoutAlign="center center"
                    (click)="handleFavourite('remove')">
                    <mat-icon>clear</mat-icon>
                    <span class="text-button">
                    Remove from Favorite
                </span>
                  </button>
                </ng-template>

                <div fxLayout="row"
                     class="text-description-info"
                     fxLayoutAlign="start center"
                     fxLayoutGap="20px">
                  <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="8px"
                  >
                    <mat-icon
                      *ngIf="!reactLikeUser; else haveReactLike"
                      class="user-react"
                      (click)="handleReact('like')"
                    >
                      thumb_up
                    </mat-icon>
                    <span>
                      {{this.likeList.length}}
                    </span>
                  </div>

                  <ng-template #haveReactLike>
                    <mat-icon
                      class="user-react"
                      color="warn"
                      (click)="handleUndoReact('like')"
                    >
                      thumb_up
                    </mat-icon>
                  </ng-template>

                  <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="8px"
                  >
                    <mat-icon
                      class="user-react"
                      *ngIf="!reactDislikeUser; else haveReactDislike"
                      (click)="handleReact('dislike')"
                    >
                      thumb_down
                    </mat-icon>
                    <span>
                      {{this.dislikeList.length}}
                    </span>
                  </div>

                  <ng-template #haveReactDislike>
                    <mat-icon
                      class="user-react"
                      color="warn"
                      (click)="handleUndoReact('dislike')"
                    >
                      thumb_down
                    </mat-icon>
                  </ng-template>

                </div>
              </div>

              <div fxLayout="row" class="genres"
                   fxLayoutGap="10px"
                   fxLayoutAlign="space-between center"
                  *ngFor="let genre of this.formGroup.controls['genres'].value"
              >
                <button mat-stroked-button fxLayout="row"
                        fxLayoutAlign="center center"
                        (click)="redirectToPage(genre.name)"
                >
                  <span class="text-button-genres">
                    {{genre.name}}
                  </span>
                </button>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="45px" >
            <div fxLayout="column" fxLayoutGap="10px" class="text-description">
              <span >National</span>
              <span >Director</span>
              <span >Maturity</span>
            </div>
            <div fxLayout="column" fxLayoutGap="12px" class="text-description-info">
              <span >America</span>
              <span >{{this.formGroup.controls['director'].value || "Director"}}</span>
              <span>{{this.formGroup.controls['maturity'].value}}+</span>
            </div>
          </div >
          <div class="text-description">
            <span style="line-height: 1.2">
              {{this.formGroup.controls["description"].value}}
            </span>
          </div>
          <div fxLayout="column" class="text-description">
            <h1 style="color: white">Actor</h1>
            <div fxLayout="row" fxLayoutGap="52px" style="padding: 10px 20px" >
              <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="15px"
                   *ngFor="let actor of this.formGroup.controls['actors'].value">
                <img src="assets/images/users/5.png" height="120" width="120" style="border-radius: 50%" alt="">
                <span style="color: white">
                {{actor.name}}
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="column" fxLayoutGap="10px" fxFlex>

        <h1 class="text-button-watch">
          <span style="color: white;">Comments</span>
        </h1>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <img [src]="avatarUser" height="20" width="20" class="avatar-user" alt="">
            <span class="text-description">
              {{this.dataUser.username}}
            </span>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
            <form style="width: 90%; color: white" [formGroup]="formGroup">
              <mat-form-field fxFlex>
                <mat-label>Leave a comment</mat-label>
                <input type="text" matInput formControlName="commentUser" (keyup.enter)="userComment()" >
              </mat-form-field>
            </form>
            <button mat-raised-button color="warn" (click)="userComment()">
              Comment
            </button>
          </div>
        </div>

        <div *ngIf="this.formGroup.controls['comments'].value">
          <div
            class="comment-user" fxLayout="column" fxLayoutGap="20px"
            *ngFor="let comment of this.formGroup.controls['comments'].value"
          >
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                  <img [src]="avatarUserComment + comment.userAvatar" height="20" width="20" class="avatar-user" alt="">
                  <span class="text-description">{{comment.username}}</span>
                </div>
                <span>
                  {{comment.createdAt | date: 'mediumDate'}}
                </span>
              </div>
              <div style="padding: 5px 10px">
                {{comment.commentText}}
              </div>
            </div>
          </div>
          <mat-paginator
            [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 15]"
            [showFirstLastButtons]="true"
            (page)="onPagination($event)"
            aria-label="Select page">
          >
          </mat-paginator>
        </div>

      </div>

    </div>

  </div>

  <app-footer-cine></app-footer-cine>
</div>
