<div class="background-cine-landing" fxLayout="column">
  <app-header-cine></app-header-cine>
  <div fxLayout="row">
    <div class="white-text" style="margin-left: 40px" fxLayout="column" fxFlex="50">
      <h2 class="landing-title">Watch Joker Now</h2>
      <p class="landing-content">Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the
        streets of Gotham City.
        Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile
        attempt to feel like he's part of the world around him.</p>
      <div>
        <button class="play-button" mat-raised-button>Play</button>
      </div>
    </div>
  </div>
  <app-footer-cine></app-footer-cine>
</div>
