<div fxLayout="column" style="background: #000000;">
  <div class="background-cine-landing" fxLayout="column" style="height: 700px">
    <app-header-cine fxFlex></app-header-cine>
    <div fxLayout="row" fxFlex="65">
      <div class="text-white" style="margin-left: 40px" fxLayout="column" fxLayoutGap="20px" fxFlex="50">
        <h2 class="landing-title">Watch Joker Now</h2>
        <p class="landing-content">Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks
          the
          streets of Gotham City.
          Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile
          attempt to feel like he's part of the world around him.</p>
        <div>
          <button (click)="goToFilmDetail(41)" class="play-button" mat-raised-button>Play</button>
        </div>
      </div>
    </div>
  </div>
  <div class="slide-list text-white" fxLayout="column" fxLayoutGap="30px">
    <div fxLayout="column" *ngFor="let landingData of this.landingData">
      <a class="genreName" (click)="goToFilmByGenre(landingData.genre)">
        {{landingData.genre}}
      </a>
      <section>
        <ngx-slick-carousel class="carousel" [config]="slideConfig">
          <mat-card ngxSlickItem class="slide"
                    *ngFor="let ele of landingData.data"
                    (click)="goToFilmDetail(ele.film.id)"
          >
            <div class="favourite-btn">
              <button appClickStopPropagation
                      *ngIf="!ele.idFavorite; else removeFavorite "
                      (click)="addToFavorite(landingData.genre, ele.film.id)"
                      mat-icon-button matTooltip="Add to favorites"
                      matTooltipPosition="above"
              >
                <mat-icon>
                  add_to_photos
                </mat-icon>
              </button>
              <ng-template #removeFavorite>
                <button appClickStopPropagation (click)="removeFromFavorite(landingData.genre, ele.idFavorite, ele.film.id)"
                        mat-icon-button matTooltip="Remove from favorites" matTooltipPosition="above"
                >
                  <mat-icon>indeterminate_check_box</mat-icon>
                </button>
              </ng-template>
            </div>
            <img height="140px" mat-card-image src="{{beforePath + ele.film.slug + afterPath }}" alt="Photo of a Shiba Inu">
            <div class="short-description">
              <p style="font-size: 16px">{{ ele.film.title }}</p>
              <p style="font-size: 14px" >{{ ele.film.description }}</p>
            </div>
            <mat-card-actions>
              <p class="film-title">{{ ele.film.title }}</p>
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&star;</span>&star;
                </span>
              </ng-template>

              <ngb-rating [rate]="setStarRating(ele.film.ratingStar)" [readonly]="true" [starTemplate]="t" [max]="5"></ngb-rating>
            </mat-card-actions>
          </mat-card>
        </ngx-slick-carousel>
      </section>
    </div>

  </div>
  <app-footer-cine></app-footer-cine>
</div>




