/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background-cine-header {
  background-image: url("assets/images/misc/home-bg.jpg");
}

.form {
  width: 480px;
  background: black;
  opacity: 0.8;
  border-radius: 4px;
  position: relative;
}

.background-cine-landing {
  background-size: cover;
  background-image: url(assets/images/films/joker/spotlight.jpg);
}

.gray-text{
  color: gray !important;
}

.dialog-action-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  button {
    padding: 4px;
  }
}

/* Star Rating */
.star {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  color: #d3d3d3;
}

.full {
  color: #FFC107;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden !important;
  color: #FFC107;
  //display: none;
}

/* Card Slider */
section{
  width: 100%;
  .mat-card {
    cursor: pointer;
    width: 250px;
    margin: 2px;
    padding: 0 16px 16px;
    background-color: #000000;
    font-family: "Open Sans", sans-serif;
    p {
      font-size: 16px;
    }
  }
}

@media(max-width:575px){
  section{
    .mat-card{
      margin: 10px;
      width: 280px;
    }
  }
}

mat-dialog-container {
  background-color: rgb(6, 18, 30) !important;
  overflow: hidden !important;
  padding: 0 !important;
}

.snackbar-custom {
  background-color:#F44336 !important;
  color: #eae1e1;
}





