.background-footer {
  background-color: black;
  color: gray;
  padding: 64px 256px
}

.text-footer {
  cursor: pointer;
  color: gray;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
}
