<div class="background-footer" >
  <div fxLayout="column" fxLayoutGap="20px">
    <h3>
      <span>
        Question? Contact us
      </span>
    </h3>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
        <a href="#" class="text-footer">FAQ</a>
        <a href="#" class="text-footer">Investor Relations</a>
        <a href="#" class="text-footer">Ways to Watch</a>
        <a href="#" class="text-footer">Corporate Information</a>
        <a href="#" class="text-footer">Cine Originals</a>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
        <a href="#" class="text-footer">Help Centre</a>
        <a href="#" class="text-footer">Jobs</a>
        <a href="#" class="text-footer">Term of Use</a>
        <a href="#" class="text-footer">Contact Us</a>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
        <a href="#" class="text-footer">Account</a>
        <a href="#" class="text-footer">Redeem gift cards</a>
        <a href="#" class="text-footer">Privacy</a>
        <a href="#" class="text-footer">Speed Test</a>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px">
        <a href="#" class="text-footer">Media Centre</a>
        <a href="#" class="text-footer">Buy gift cards</a>
        <a href="#" class="text-footer">Cookie Preferences</a>
        <a href="#" class="text-footer">Legal Notices</a>
      </div>
    </div>

    <p class="text-footer">Cine United Kingdom</p>
  </div>
</div>
